
/* ======= */
html,body{
    color:#ddd;
}
/* >>>>>>> Stashed changes */
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

#logo {
    position: absolute;
    width: 134.42px;
    left: 63.13px;
}

#svg5 {
    width: 100px;
}

#svg3 {
    width: 70%;
}

#box3-big {
    font-size: 2.9vw;
    color: white;
}

#text-small{
    font-size: 22px;
    color: white;
    letter-spacing: 3px;
    text-align: justify;
}

#box3{
    width: 50%;
    margin-right: 5%;
    margin-top: -300px;
}

#box3-out{
    margin-top: -550px;
}

#box2{
    position: absolute;
    margin-top: 300px;
    width: 70%;
}

#box21{
    width: 60%;
    position: relative;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
}

#box2-out{
    margin-top: 0px;
}

#text1{
    margin: 0px -75px;
}

#s6{
    height: 1255.63px;
    background: linear-gradient(273deg, #0E0C3C 64%, #161360 92%);
    background: -moz-linear-gradient(273deg, #0E0C3C 64%, #161360 92%);
    background: -webkit-linear-gradient(273deg, #0E0C3C 64%, #161360 92%);
    background: -o-linear-gradient(273deg, #0E0C3C 64%, #161360 92%);
}

#s5{
    margin-top: -600px;
}

#button1{
    margin-top: 59px;
    margin-bottom: 0px;
    width: 13%;
}

#svg2{
    margin-top: -60px;
}

/* 經驗區 */
.link-left-exp{
    width: auto !important;
    height: 8.5vw;
    border-left: solid #ACC0D8 1vw;
    font-size: 2.5vw;
    color: white;
    margin-left: 5%;
    padding: 0px 3%;

}

.link-bottom{
    width: 50%;
    height: 1px;
    opacity: 0.14;
    border: 3px solid #FFFFFF;
    margin-top: 2%;
    margin-left: 5%;
}

.exp-title-box{
    padding-top: 8%;
}

.line-bottom{
    border: 14px solid #818FE7;
}

.s6box{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
}

.s6box1{
    height: 560px;
    vertical-align: bottom;
    background: linear-gradient(180deg, #8BADDD 768027.96%, #5F09FF 826946.96%);
}

.s6box2{
    height: 393px;
    background: linear-gradient(180deg, #8BADDD 0%, #5F09FF 100%);
}

.s6box3{
    height: 330px;
    background: linear-gradient(180deg, #8BADDD 794109%, #5F09FF 827025%);
}

.flex-item{
    width: 340px;
    margin: 0 1%;
    text-align: center;
    bottom: 0px;
    align-self: end;
}

.text-small{
    color: #FFE300;
    font-size: 2vw;
    font-weight: 900;

}

.text-big{
    color: #FFFFFF;
    font-size: 4vw;
    font-weight: 700;
}

/* 合作品牌區 */
.link-left-co {
    width: auto !important;
    height: 4vw;
    border-left: solid #ACC0D8 1vw;
    padding: 0px 3%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 2.5vw;
    color: white;
}


.img_card{
    height: 100px;
    margin-top: 27px;
}

#content {
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: -30%;
    margin-bottom: 5%;
}

.box{
    width: 20%;
    margin: 20px 20px;
    text-align: center;  
}

.svg6{
    position: relative;
}

.svg6-img{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 80%;
}

/* footer */
.footer-color{
    background: linear-gradient(90deg, #0E0C3B 215930.01%, #171563 398671.02%);
}