
/* ======= */
html,body{
    color:#ddd;
}
/* >>>>>>> Stashed changes */
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

#logo {
    position: absolute;
    width: 134.42px;
    left: 63.13px;
}

#svg5 {
    width: 100px;
}

#svg3 {
    width: 70%;
}

#box3-big {
    font-size: 2.9vw;
    color: white;
}

#text-small{
    font-size: 22px;
    color: white;
    letter-spacing: 3px;
    text-align: justify;
}

#box3{
    width: 50%;
    margin-right: 5%;
    margin-top: -300px;
}

#box3-out{
    margin-top: -550px;
}

#box2{
    position: absolute;
    margin-top: 300px;
    width: 70%;
}

#box21{
    width: 60%;
    position: relative;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
}

#box2-out{
    margin-top: 0px;
}

#text1{
    margin: 0px -75px;
}

#s6{
    height: 1255.63px;
    background: linear-gradient(273deg, #0E0C3C 64%, #161360 92%);
    background: -moz-linear-gradient(273deg, #0E0C3C 64%, #161360 92%);
    background: -webkit-linear-gradient(273deg, #0E0C3C 64%, #161360 92%);
    background: -o-linear-gradient(273deg, #0E0C3C 64%, #161360 92%);
}

#s5{
    margin-top: -600px;
}

#button1{
    margin-top: 59px;
    margin-bottom: 0px;
    width: 13%;
}

#svg2{
    margin-top: -60px;
}

/* 大標題用 */
.link-left {
    width: auto !important;
    height: 5%;
    border-left: solid #ACC0D8 1vw;
    padding: 0px 5%;
    margin: 10% 0px;
    margin-left: 10%;
    font-size: 4vw;
    color: white;
}

/* 合作品牌區 */

.img_card{
    height: 100px;
    margin-top: 27px;
}

#content {
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: -10%;
}

.box{
    width: 20%;
    margin: 20px 20px;
    text-align: center;  
}

.svg6{
    position: relative;
}

.svg6-img{
    /* position: absolute; */
    right: 0;
    bottom: 0;
    z-index: 1;
}