
/* ======= */
html,body{
    color:#ddd;
}
/* >>>>>>> Stashed changes */
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}



#logo {
    height: 130px;
    padding-top: 20px;
    padding-left: 20px;
}


#svg5 {
    width: 100px;
}

#svg3 {
    position: relative;
    left:-7px;
    width: 70%;
}

#box3-big {
    font-size: 2.9vw;
    color: white;
}

#text-small{
    font-size: 22px;
    color: white;
    letter-spacing: 3px;
    text-align: justify;
}

#box3{
    width: 50%;
    margin-right: 5%;
    margin-top: -300px;
    z-index: 1000;
}

#box3-out{
    top: -1150px;
    position: relative;
}

#box2{
    position: absolute;
    /* margin-top: 300px; */
    width: 70%;
    top:300px;
    z-index: 1;
}

#box21{
    width: 60%;
    position: relative;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
}


#box2-out{
    margin-top: 0px;
    position: relative;
}

#svg2{
    top:-680px;
    position: relative;
    z-index:-1;
}

.s2-slider{
    /* opacity: 50%; */
    margin:0 auto;
    top:700px;
    z-index: 30;
}
.s2-slider div{
    /* right:5px; */
    padding: 0 10px;
    background:transparent;
    height: 650px;
}
.s2-slider div img{
    width: 100%;
}

.slick-prev{
    left:30px;
    z-index: 1000;
}
.slick-next{
    right:10px;
}
.slick-slide img{
    opacity:30%;
    transition:0.5s;
}
.slick-center img{
    opacity: 100%;
    transition:0.5s;
}

.slick-dots li button::before{
    padding-top:20px;
    color: #fff; 
   /* font-size:; */
   /* font-family: 'slick'; */
    font-size: 10px;
    /* line-height: 20px; */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* width: 20px; */
    /* height: 20px; */
    /* content: '•'; */
    /* text-align: center; */
    /* opacity: .25; */ 
}
.slick-dots li.slick-active button::before{
    color: rgb(34, 34, 34);
}

#box4-out{
    position: relative;
    top:-1100px;
    height: 1100px;
}
#svg4{
    position: absolute;
    top: 0;
    left: 0;
}
#svg5{
    position: absolute;
    width: 100%;
    bottom: -1100px;
}
/* #box5-out h3{
    position: absolute;
    text-align: center;
    color: rgb(228, 228, 228);
    font-weight: bold;
    top: -60%;
    left: 45%;
} */

#text1{
    margin: 0px -75px;
}

/* 經驗區 */
#s6{
    position: relative;
    /* top:-1500px; */
    height: 1255.63px;
    background: linear-gradient(273deg, #0E0C3C 64%, #161360 92%);
    background: -moz-linear-gradient(273deg, #0E0C3C 64%, #161360 92%);
    background: -webkit-linear-gradient(273deg, #0E0C3C 64%, #161360 92%);
    background: -o-linear-gradient(273deg, #0E0C3C 64%, #161360 92%);
}

#button1{
    margin-top: 59px;
    margin-bottom: 0px;
    width: 13%;
}

.link-left-exp{
    width: auto !important;
    height: 9.5vw;
    border-left: solid #ACC0D8 1vw;
    font-size: 3vw;
    color: white;
    margin-left: 5%;
    padding: 0px 3%;
    letter-spacing: 4px;
    font-weight: 600;
}

.link-bottom{
    width: 50%;
    height: 1px;
    opacity: 0.14;
    border: 3px solid #FFFFFF;
    margin-top: 3%;
    margin-left: 5%;
}

.exp-title-box{
    padding-top: 8%;
}

.line-bottom{
    border: 14px solid #818FE7;
}

.s6box{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
}

.s6box1{
    height: 560px;
    vertical-align: bottom;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(180deg, #8BADDD 768027.96%, #5F09FF 826946.96%);
}

.s6box2{
    height: 393px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(180deg, #8BADDD 0%, #5F09FF 100%);
}

.s6box3{
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(180deg, #8BADDD 794109%, #5F09FF 827025%);
}

.flex-item{
    width: 340px;
    margin: 0 1%;
    text-align: center;
    bottom: 0px;
    align-self: end;
}

.text-small{
    color: #FFE300;
    font-size: 2vw;
    font-weight: 900;
    letter-spacing: 2px;
}

.text-big{
    color: #FFFFFF;
    font-size: 5vw;
    font-weight: 700;
    font-family: Microsoft JhengHei;
    letter-spacing: 3px;
}

#s6-svg1, #s6-svg2, #s6-svg3, #s6-svg4, #s6-svg5, #s6-svg6, #s6-svg7{
    position: absolute;
}

#s6-svg1{
    width: 9%;
    margin-top: 7%;
    margin-left: 37%;
}

#s6-svg2{
    width: 7%;
    margin-top: 15%;
    margin-left: 65%;
}

#s6-svg3{
    width: 9%;
    margin-top: 27%;
    margin-left: 28%;
}

#s6-svg4{
    width: 13%;
    margin-top: 36%;
    margin-left: 20%;
}

#s6-svg5{
    width: 10%;
    margin-top: 42%;
    margin-left: 42%;
}

#s6-svg6{
    width: 7%;
    margin-top: 40%;
    margin-left: 55%;
}

#s6-svg7{
    width: 6%;
    margin-top: 40%;
    margin-left: 67%;
}

/* 合作品牌區 */
#s7{
    position: relative;
    /* bottom:1500px; */
}
.link-left-co {
    width: auto !important;
    height: 4.5vw;
    border-left: solid #ACC0D8 1vw;
    padding: 0px 4%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 3vw;
    color: white;
    letter-spacing: 4px;
    font-weight: 600;
}


.img_card{
    height: 100px;
    margin-top: 27px;
}

#content {
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: -30%;
    margin-bottom: 5%;
}

.box{
    width: 20%;
    margin: 20px 20px;
    text-align: center;  
}

.svg6{
    position: relative;
}

.svg6-img{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 80%;
}

/* footer */
.footer-color{
    background: linear-gradient(90deg, #0E0C3B 215930.01%, #171563 398671.02%);
}

/* RWD */
@media screen and (max-width:576px) and (min-width:0px){
    #logo{
        width: calc(100% - 20px);
    }
}
@media screen and (max-width:768px) and (min-width:577px){
    #logo{
        width: calc(100% - 15px);
    }
}
@media screen and (max-width:992px) and (min-width:769px){
    #logo{
        width: calc(100% - 8px);
    }
    
}
@media screen and (min-width:992px){
    #logo{
        width: calc(100% - 0px);
    }
    [class^="s6box"]{
        width: 80%;
    }
    .s6box{
        width: 100%;
    }
}
@media screen and (min-width:1200px){

}